
/*Style Guidelines */
*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*Implementation*/
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn{
    display: inline-block;
    padding: .5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin-top: 4 em;
}

.btn:hover{
    transform: scale(1.1);
}

h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section_title{
    margin-bottom: 0.25em;
}

#intro_title{
    font-weight: var(--fw-reg);
}

#intro_title strong{
    display: block;
    font-weight: var(--fw-bold);
}

.intro_subtitle{
    margin: 0;
    font-size: var(--fs-h3);
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.25em 1em;
    display: inline-block;
}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle_son{
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section_title_son, section_subtitle_son{
    grid-column: 1;
}

/*Header*/
.nav{
    display: none;
}
/*Intro*/
.intro{
    position: relative;
}

.intro_img{
    box-shadow: var(--bs);
}

@media(min-width:600px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    
    .intro_subtitle{ /*green bar*/
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


.PortfolioCard{
    /*Blend background image with accent color, change text to light color*/
    background-color: var(--clr-dark);
    background-image:url(../img/heart.png);
    background-size:auto;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    
}

#Portfolio_title{
    color: var(--clr-accent);
    position: relative;
}

/*Psuedo element that lets us draw a white line under the title*/
#Portfolio_title::after{
    content:''; /*won't appear unless it has some content defined*/
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}


/*Jared's Section*/
.Son{
    max-width: 1000px;
    margin: 0 auto;
}

.Son_image{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .Son {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .Son_image {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
    
    .section_title_son {
        grid-area: title;
    }
    
    .section_subtitle_son {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
}

/*Footer*/

.footer {
    background:#111 ;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
      font-size: var(--fs-h3);

}

.footer a { 
    color: inherit;
    text-decoration: none;
}